* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(./Images/Tutorial.jpg);
  background-position: center;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: #ff7200 solid 2px;
}

.icon {
  width: 260px;
  float: left;
  height: 70px;
}

.logo {
  width: 260px;
  color: #ff7200;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu {
  width: 500px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 15px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.search {
  width: 500px;
  margin-left: 650px;
  left: 700px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-right: none;
  float: left;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: #ff7200;
  margin-top: 13px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  border: 1px solid #ff7200;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: white;
  position: relative;
}

.h1 {
  font-family: "Times New Roman";
  font-size: 30px;
  padding-left: 0px;
  margin-top: 50px;
  letter-spacing: 2px;
  font-style: italic;
}

span {
  color: #ff7200;
}

.form {
  margin-top: 5px;
  width: 700px;
  height: 350px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  position: absolute;
  right: 700px;
  top: 0px;
  border-radius: 10px;
  padding: 25px 25px;
}

.form h2 {
  width: 650px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 650px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-radius: 10px;
  border-right: none;
  border-left: none;
  border-top: none;
  color: white;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.btnn {
  width: 650px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 2px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.contentText {
  width: 650px;
  height: 150px;
  background: white;
  border: none;
  margin-top: 10px;
  font-size: 19px;
  font-weight: bold ;
  padding-left: 10px;
  border-radius: 10px;
  color: #ff7200;
  transition: 0.4s ease;
}

.btnn:hover {
  background: white;
  color: #ff7200;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 305px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  position: absolute;
  top: 500px;
  padding: 25px;
  overflow: hidden;
}

.note-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: transparent;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card {
  display: flex;
  gap: 10px;
  height: 90%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: transparent;
}

.quote {
  margin-top: 5px;
  height: 350px;
  border-radius: 10px;
  border-bottom: #ff7200 solid 2px;
  box-shadow: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  position: absolute;
  text-align: left;
  left: 700px;
  width: 700px;
  padding-left: 20px;
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 230px;
  width: 150px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-right: none;
  border-left: none;
  border-top: 1px solid #ff7200;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.button {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background: white;
  color: #ff7200;
}

.delete-btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-btn:hover {
  background: white;
  color: #ff7200;
}

.viewMe-btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.viewMe-btn:hover {
  background: white;
  color: #ff7200;
}

.edit-btn{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.edit-btn:hover {
  background: white;
  color: #ff7200;
}
